nbproject/
build/
dist/
.deps/
*.gch
.dep.inc
/src/.deps/
Makefile.in
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
missing
src/Makefile.in
Makefile
config.log
config.status
src/Makefile
data/*
!haarcascades/
